# Data files
*.png
*.txt
*.dat
*.zip
*.mat
*.json
*.pkl

# Binary files
*.pyc
*.bin
*__pycache__*

# OS Junk files
*.DS_Store

# Folders not needed
figures*

# Test data
statistics/tests/blocking_test_data
statistics/tests/*.png
statistics/tests/*.pdf
